

if r.userName != ''
  | #{r.userName}

<br/>

| #{r.result['title']}

<br>

| #{r.result['desc']}

<br>

if r.result['comments'] != undefined
  ul
  each val, index in r.result['comments']
    <li>#{val}</li>



<br>
<br>
form(action='/comment', method='post')
    textarea(placeholder='comment here', name='comment')
    br
    <input type='hidden' name='qid' value='#{r.result['qid']}'>
    <input type='submit' value='submit'>
    



